<%= form_with(model: @blog, local: true) do |form| %>

<% if @blog.errors.any? %>
<div id="error_explanation">
  <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
  <ul>
    <% @blog.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="blog_name">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<%= form.submit %>

<%= link_to '投稿一覧', blogs_path %>
<% end %>
